{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header wow fadeInDown">
        <h4>Error 500</h4>
    </div>
    <p class="bs-callout bs-callout-danger text-danger bg-danger wow fadeInRight">Error interno en el servidor.</p>
{% endblock %}
