{{ form_start(form, {'attr':{'id':'form-kingdom'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{#<select class="form-control form-control-lg">#}
    {#<option>Large select</option>#}
{#</select>#}