{% extends "base.html.twig" %}

{% block title %}Player Army{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header-primary">Castle</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td><h4>Status</h4></td>
                        </tr>
                        <tr>
                            <td><p>Level: <span id="level-castle"></span></p></td>
                        </tr>
                        <tr>
                            <td><p>Defense: <span id="defense-castle"></span></p></td>
                        </tr>
                        <tr>
                            <td><p>Capacity: <span id="capacity-castle"></span></p></td>
                        </tr>
                    </table>
                    <h4>Troops</h4>
                    <table class="table" id="list-troop">

                        {#{% for t in troops %}#}
                        {#<tr>#}
                        {#<td><p>{{ t.unitType.name }}: <span class="badge-green">{{ t.total }}</span><p></td>#}
                        {#</tr>#}
                        {#{% else %}#}
                        {#<tr>#}
                        {#<td><p>There are not any troop</p></td>#}
                        {#</tr>#}
                        {#{% endfor %}#}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header-primary">Troop Movement</div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header-primary">Resources</div>
                <div class="card-body">
                    <h5 style="color: yellow">Gold: <span id="gold-resource"></span></h5>
                </div>
            </div>
        </div>

        <div class="col-sm-4" id="camps"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header-danger">Log Event</div>
                <div class="card-body">
                    asas
                </div>
            </div>
            <div class="card">
                <div class="card-header-danger">Chat</div>
                <div class="card-body">
                    Chat
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block js %}
    <script>
        $.getJSON('{{ path('list_user_resources') }}', function(data){
            /* Castle */
            $('#level-castle').html(showCastle(data).level);
            $('#defense-castle').html(showCastle(data).defense_remaining);
            $('#capacity-castle').html(showCastle(data).capacity);
            /* /. */
            /* troop */
            let troop = showTroops(data);

            for (i = 0; i < troop.length; i++) {
                troop[i];
                $('<tr><td><p>' + troop[i]['troop_name'] + '</p></td><td><p>' + troop[i]['total'] + '</p></td></tr>').appendTo('#list-troop');
            }

            /* Resousrces */
            $('#gold-resource').html(showResources(data));

            /* The troops_location */

            let camp = showBuilding(data);
            let level, defense, capacity, building_id;
            let troopLocation = showTroopLocation(data);

            for (i = 0; i < camp.length; i++) {
                level = camp[i]['level'];
                defense = camp[i]['defense_remaining'];
                capacity = camp[i]['capacity'];
                building_id = camp[i]['building_id'];

                $("<div class='card'>" +
                    "<div class=\"card-header-warning\">" + camp[i]['building_name'] + "</div>" +
                    "<div class=\"card-body\">" +
                        "<table class='table'>" +
                            "<tr>" +
                                "<td><p>Level: "+level+"</p></td>" +
                            "</tr>" +
                            "<tr>" +
                                "<td><p>Defense: "+defense+"</p></td>" +
                            "</tr>" +
                            "<tr>" +
                                "<td><p>Capacity: "+capacity+"</p></td>"+
                            "<tr>"+
                        "</table>"+
                        "<h4>Troops</h4>"+
                        "<table id="+"troop_building"+building_id+">"+

                        "<table>"+
                    "</div>" +
                    "</div>").appendTo('#camps');

                for (j = 0; j < camp[i]['troop_locations'].length; j++){
                    $('<tr><td><p>'+camp[i]['troop_locations'][j].troop_name+': </p></td><td><p>'+camp[i]['troop_locations'][j].total+'</p></td></tr>').appendTo("#troop_building"+building_id);
                }
            }

            function showCastle(data) {
                return data.datos.castle;
            }

            function showTroops(data) {
                return data.datos.troops;
            }

            function showResources(data) {
                return data.datos.resources.gold;
            }

            function showTroopLocation(data) {
                return data.datos.troops_location
            }

            function showBuilding(data) {
                return data.datos.buildings;
            }
        });
    </script>
{% endblock %}