{% extends "base.html.twig" %}

{% block title %}Player Army{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header-primary">Castle</div>
            <div class="card-body">
                aa
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header-primary">Troop</div>
            <div class="card-body">
                bb
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header-primary">Resources</div>
            <div class="card-body">
                cc
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header-warning">Camp</div>
            <div class="card-body">
                cc
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}