{% extends "base.html.twig" %}

{% block title %}Player Army{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header-primary">Castle</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td><h4>Status</h4></td>
                        </tr>
                        <tr>
                            <td><p>Level: <span id="level-castle"></span></p></td>
                        </tr>
                        <tr>
                            <td><p>Defense: <span id="defense-castle"></span></p></td>
                        </tr>
                        <tr>
                            <td><p>Capacity: <span id="capacity-castle"></span></p></td>
                        </tr>
                    </table>
                    {#<h4>Troops</h4>#}
                    {#<table class="table" id="list-troop">#}
                        {#<tr>#}
                            {#<td></td>#}
                        {#</tr>#}
                    {#</table>#}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header-primary">Troop Movement</div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header-primary">Resources</div>
                <div class="card-body">
                    <h5 style="color: yellow">Gold: <span id="gold-resource"></span></h5>
                </div>
            </div>
        </div>

        <div class="col-sm-4" id="camps"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header-danger">Log Event</div>
                <div class="card-body">
                    asas
                </div>
            </div>
            <div class="card">
                <div class="card-header-danger">Chat</div>
                <div class="card-body">
                    Chat
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block js %}
    <script>
        $.getJSON('{{ path('list_user_resources') }}', function (data) { /* Castle */
            let castle = data.datos.castle;

            $('#level-castle').html(castle.level);
            $('#defense-castle').html(castle.defense_remaining);
            $('#capacity-castle').html(castle.capacity);
            // console.log(data);
            // for (i = 0; i < troop.length; i++) {
            // troop[i];
            // $('<tr><td><p>' + troop[i]['troop_name'] + '</p></td><td><p>' + troop[i]['total'] + '</p></td></tr>').appendTo('#list-troop');
            //
            // }

            /* troop */
            let troop = data.datos.troops;

            /* troop location */
            let troopLocation = data.datos.troops_location;

            /* buildings */
            let buildings = data.datos.buildings;

            // Buscando troop location
            for (let y = 0; y < buildings.length; y++) { // puedo pintar aqui el card del edificio

                let unBuilding = buildings[y];
                let building_id = unBuilding['building_id'];
                unBuilding['troop_location'] = [];

                //Pintamos los card
                $("<div class='card'>" +
                    "<div class=\"card-header-warning\">" + buildings[y]['building_name'] + "</div>" +
                    "<div class=\"card-body\">" +
                        "<table class='table'>" +
                        "<tr>" +
                        "<td><p>Level: " + buildings[y]['level'] + "</p></td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td><p>Defense: " + buildings[y]['defense_remaining'] + "</p></td>" +
                        "</tr>" +
                        "</table>" +
                        "<h4>Troops</h4>" +
                        "<div id='troop_location"+buildings[y]['building_id']+"'></div>"+
                    "</div>" +
                    "</div>").appendTo('#camps');

                // recorrer todos los troops location buscando si esta el building

                for (let i = 0; i < troopLocation.length; i++) {
                    let untroop_location = troopLocation[i];
                    if (untroop_location['building_id'] == building_id) {
                        unBuilding['troop_location'].push(untroop_location);
                        // console.log(troopLocation)
                        // Puedo pintar aqui un troop del edificio [untroop_location]
                        //si lo pinto aqui no hago el push anterior aunque seria bueno mantener la extructura
                        //de forma global en la pagina para realizar validaciones en los movimientos de tropas
                        //y no hacer peticiones de mas al servidor
                    }
                }

                buildings[y] = unBuilding;
                // console.log(unBuilding.troop_location);
                for (let k = 0; k < unBuilding.troop_location.length; k++){
                    // console.log(unBuilding.troop_location[k]['troop_name']);
                    $('<table class="table table-hover"><tr><td><p>'+unBuilding.troop_location[k]['troop_name']+': '+unBuilding.troop_location[k]['total']+'</p></td></tr></table>').appendTo('#troop_location'+unBuilding.troop_location[k]['building_id']);
                }
            }

            //O Puedo al final de preparar la extructura de datos empezar a pintar los cards
            //revisa en la consola para que veas
            // console.log(buildings);
        });

        {#$.getJSON('{{ path('list_user_resources') }}', function(data){#}
        {#/* Castle */#}
        {#$('#level-castle').html(showCastle(data).level);#}
        {#$('#defense-castle').html(showCastle(data).defense_remaining);#}
        {#$('#capacity-castle').html(showCastle(data).capacity);#}
        {#/* /. */#}
        {#/* troop */#}
        {#let troop = showTroops(data);#}

        {#for (i = 0; i < troop.length; i++) {#}
        {#troop[i];#}
        {#$('<tr><td><p>' + troop[i]['troop_name'] + '</p></td><td><p>' + troop[i]['total'] + '</p></td></tr>').appendTo('#list-troop');#}

        {#}#}
        {#/* Resousrces */#}
        {#$('#gold-resource').html(showResources(data));#}

        {#/* The troops_location */#}

        {#let camp = showBuilding(data);#}
        {#let level, defense;#}
        {#let troopLocation = showTroopLocation(data);#}

        {#for (i = 0; i < camp.length; i++) {#}
        {#level = camp[i]['level'];#}
        {#defense = camp[i]['defense_remaining'];#}

        {#$("<div class='card'>" +#}
        {#"<div class=\"card-header-warning\">" + camp[i]['building_name'] + "</div>" +#}
        {#"<div class=\"card-body\">" +#}
        {#"<table class='table'>" +#}
        {#"<tr>" +#}
        {#"<td><p>Level: "+level+"</p></td>" +#}
        {#"</tr>" +#}
        {#"<tr>" +#}
        {#"<td><p>Defense: "+defense+"</p></td>" +#}
        {#"</tr>" +#}
        {#"</table>"+#}
        {#"<h4>Troops</h4>"+#}
        {#"</div>" +#}
        {#"</div>").appendTo('#camps');#}
        {#}#}

        {#function showCastle(data) {#}
        {#return data.datos.castle;#}
        {#}#}

        {#function showTroops(data) {#}
        {#return data.datos.troops;#}
        {#}#}

        {#function showResources(data) {#}
        {#return data.datos.resources.gold;#}
        {#}#}

        {#function showTroopLocation(data) {#}
        {#return data.datos.troops_location#}
        {#}#}

        {#function showBuilding(data) {#}
        {#return data.datos.buildings;#}
        {#}#}
        {#});#}
    </script>
{% endblock %}