{% extends "base.html.twig" %}

{% block title %}Player Army{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header-primary">Castle</div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td><h4>Status</h4></td>
                    </tr>
                    <tr>
                        <td><p>Level: {{ buildingCastle.buildingType.level }}</p></td>
                    </tr>
                    <tr>
                        <td><p>Defense: {{ buildingCastle.buildingType.defense }}</p></td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td><h4>Troops</h4></td>
                    </tr>
                    {% for t in troops %}
                    <tr>
                        <td><p>{{ t.unitType.name }}: <span class="badge-green">{{ t.total }}</span><p></td>
                    </tr>
                        {% else %}
                    <tr>
                        <td><p>There are not any troop</p></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header-primary">Troop Movement</div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header-primary">Resources</div>
            <div class="card-body">
                cc
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header-warning">Camp</div>
            <div class="card-body">
                cc
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}