{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header-primary">Edit Profile</div>
        <div class="card-body">
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}
