{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">register</h4>
        <p class="card-category">Welcome gamer</p>
    </div>
    <div class="card-body">
    {{ include('user/_form.html.twig') }}
    </div>
</div>

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
